body{
	background-image: url('pozadina.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center;
	height: 700px;
}
.naziv_pitanja{
    border: 2px solid #000;
    display: inline-block;
    float: left;
    margin-top: 20%;
    margin-left: 15%;
    padding: 10px;
}
.prikaz-rezultata{
	font-size: 35px;
	font-weight: bold;
	margin: auto;
    width: 320px;
    height: 320px;
    display: none;
   border-radius: 30px;
  background: lightblue;
    }


 .dugmic {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}
/*https://uiverse.io/buttons*/
.dugmic:hover {
 background-position: right center;
 background-size: 200% auto;
 animation: pulse512 1.5s infinite;
}
.pitanja-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .pitanja-div p {
    	font-weight: bold;
        color: black;
        font-size: 40px;
        width: 100%;
        text-align: center;
        border: 4px solid white;
        padding: 10px 20px;
    }

    .odgovor-div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .odgovor-div .odgovor1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
    }

    .odgovor-div .odgovor1 p {
        color: black;
        background-color: lightblue;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 10px 20px;
    }
    
    .odgovor-div .odgovor1 p span {
        color: lightcoral;
        font-size: 30px;
        width: 100%;
        text-align: center;
        border: 4px solid white;
        padding: 10px 20px;
        display: inline;
    }

    .odgovor-div .odgovor1 p:hover {
        background-color: white;
        cursor: pointer;
        color: black;
    }
    .nagrade{
        background-color: lightblue;
        
    }

    #nivoi{
        background-color: lightcoral;
    }
    .strana{
        height: 700px;
    }